---
---

@import "{{ site.theme }}";

@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolas.ttf");
}

h1 {
  font-family: "Consolas";
}

.site-header {
  background: linear-gradient(to bottom, black, white);
}
